body {
background-color:#7ea6b4;
font-family:Arial, Helvetica, sans-serif;
color: #172a3b;
margin: 20px;
}
h1 {
color: #1b4064f8;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h2 {
color: #1b4064f8;
text-align: left;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p {
font-size: 18px;
text-align: left;
line-height: 1.5;
}

.daftar-produk {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.produk {
    background-color: #5f90a1;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.produk img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.produk h2 {
    font-size: 20px;
    color: #2c3e50;
}
.produk h3 {
    font-size: 16px;
    color: #2c3e50;
}
.harga {
    font-size: bold;
    color: #4abe7a;
}
.deskripsi {
    font-size: 14px;
    color: #000000;
}
.artikel {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #5f90a1;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    line-height: 1.8;
}
.artikel .penulis {
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.artikel .sampul{
    width: 180px;
    float: right;
    margin: 0 0 20px 20px;
    border: 1px solid #5f90a1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.artikel blockquote {
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid #172a3b;
    color: #2c3e50;
    background-color: #96b6c0;
}
.btn-kembali {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 16px;
    background-color: #96b6c0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 4px;
}
.btn-kembali:hover{
    background-color: #325a68;
}

.formulir {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
}
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;

}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

.header-img {
  width: 1312px;
  height: 400px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

